---
title: Jackson Kunde
layout: default
permalink: /
---

<div class="container">
    <h1>Jackson Kunde</h1>
    <div class="image-container">
        <img src="{{ 'resources/profile-removebg.png' | relative_url }}" alt="Photo of Jackson Kunde" class="profile-image">
    </div>
    
    <div class="description-container">
        <div class="description">
            <p>
                Hi, I am a senior at the University of Wisconsin, Madison, studying mathematics and computer science.
            </p>
        </div>
    </div>
</div>

<div id="experience" class="container">
    <a href="#experience" style="text-decoration: none;"><h2>Current Work</h2></a>
    {% for experience in site.data.experiences %}
        {% include experience_entry.html experience=experience %}
    {% endfor %}
    <div class="resume-container">
        <p>For all of my work experience, see my <a href="{{ 'resources/kunde_jackson_resume_2024.pdf' | relative_url }}" target="_blank">resume</a>.</p>
    </div>
</div>

<div id="projects" class="container">
    <a href="#projects" style="text-decoration: none;"><h2>Project Highlights</h2></a>
    <div class="container">
        {% for project in site.data.projects %}
            {% if project.highlight %}
                {% include project_entry.html project=project %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="project-container">
        <p>For details on my projects, see the <a href="{{ '/projects/' | relative_url }}">projects page</a>.</p>
    </div>
</div>
