.navbar {
    background-color: rgba(0, 100, 0, 0.9);
    color: #fcfffc;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    border-radius: 7px;
    /* background: linear-gradient(to bottom, #006400, #cffecf); */
  }
.social-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-links a {
    color: #333; /* Adjust as needed */
    text-decoration: none;
    margin-left: 10px; /* Add some spacing between icons */
}
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .navbar li {
    display: inline;
    margin: 0 20px;
  }
  
  .navbar a {
    color: #eafbea;
    text-decoration: none;
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    /* transition: color 0.3s; */

    position: relative;
    padding-bottom: 5px;
    transition: all 0.3s ease-in-out;
    display: inline-block; /* Add this line */
  }
  
.navbar a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fcfffc;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
.navbar a:hover {
    color: #ffffff;
    transform: scale(1.1);
  }
  
.navbar a:hover::before {
    transform: scaleX(1);
  }

  .container {
    padding-top: 128px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

body {
    font-family: 'DM Serif Display', serif;
    background-color: #eafbea;
}

h1 {
    font-size: 64px;
    color: #006400;
    margin-bottom: 20px;
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.container#experience h2 {
    font-size: 40px;
    color: #006400; /* Dark green */
    margin-bottom: 30px; /* Increase margin for better spacing */
    text-align: left; /* Align the text to the left */
}

.image-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    background-color: #91c091;
    border: 2px solid #006400;
}

.profile-image {
    width: 100%;
    height: auto;
    font-size: 16px;
}

.container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 24px;
}

.experience {
    display: flex;
    margin: 10px;
    background-color: #fcfffc;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.date {
    margin-left: auto;
    font-style: italic;
    font-size: 16px;
}

.uw-madison-img,
.waisi-img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}

.waisi-img {
    border-radius: 30%;
}

.thumbnail {
    flex: 0 0 200px; /* Keep the width to 200px */
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: -60px; /* Reduce the margin */
    margin-bottom: 10px; /* Add margin at the bottom for spacing */
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail img {
    max-width: calc(100% - 50px);
    max-height: calc(100% - 50px);
    width: auto;
    height: auto;
    display: block;
    margin: 10px;
}

.description-container {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #fcfffc
}

.description {
    padding: 20px;
}
.details {
    flex-grow: 1; /* Allow details to take remaining space */
    padding: 20px; /* Add padding to the details */
}
.details a {
    color: #006400; /* Dark green */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make the text bold */
}

.personal a {
    color: #006400; /* Dark green */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make the text bold */
}

.resume-container {
    background-color: #fcfffc; /* Match the background color of experience containers */
    padding: 5px;
    border-radius: 20px; /* Match the border radius of experience containers */
    margin: 10px; /* Match the margin of experience containers */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Match the box shadow of experience containers */
}
.resume-container a {
    color: #006400; /* Dark green */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make the text bold */
}

/* Projects Section */
.project-thumbnail {
    flex: 0 0 200px; /* Keep the width to 200px */
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: -60px; /* Reduce the margin */
    margin-bottom: 10px; /* Add margin at the bottom for spacing */
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-thumbnail img {
    max-width: calc(100% - 50px);
    max-height: calc(100% - 50px);
    width: auto;
    height: auto;
    display: block;
    margin: 10px;
}

.container#projects h2 {
    font-size: 40px;
    color: #006400; /* Dark green */
    margin-bottom: 30px; /* Increase margin for better spacing */
    text-align: left; /* Align the text to the left */
}
.project-container {
    background-color: #fcfffc; /* Match the background color of experience containers */
    padding: 5px;
    border-radius: 20px; /* Match the border radius of experience containers */
    margin: 10px; /* Match the margin of experience containers */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Match the box shadow of experience containers */
}
.project-container a {
    color: #006400; /* Dark green */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make the text bold */
}
.project-img {
    max-width: 95%;
    height: auto;
}

.experience {
    display: flex;
    margin: 10px;
    background-color: #fcfffc;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.3s; /* Add transition for smooth scaling */
}

.experience:hover {
    transform: scale(1.05); /* Enlarge the container on hover */
}

/* Specific project styles */
.overview-container {
    width: 90%; /* Adjust width as needed */
    margin: 0 auto; /* Center the container */
    padding: 10px; /* Add padding */
    background-color: #ffffff; /* Optional: add background color */
  }
/* about me page */
.personal .container {
    display: flex;
    flex-direction: column;
}
h2.personal {
    color: #006400;
    text-align: left;
}


.personal.description-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
}

.personal.text {
    flex: 1;
    margin-right: 20px;
}

.personal.image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.personal.image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Course List Page */
.course .container {
    max-width: 1200px; /* Adjusted max-width */
    margin: 0 auto;
    padding: 0 20px;
}

.course-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Changed justify-content to center */
    gap: 20px; /* Add gap between the boxes */
}

.course .description-container {
    width: calc(40% - 20px); /* Adjusted width to take up more space */
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fcfffc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.course .description-container h2 {
    font-size: 20px; /* Adjust the font size for the course title */
    margin-bottom: 10px; /* Add margin bottom for better spacing */
}

.course .description-container p {
    font-size: 16px; /* Adjust the font size for the course description */
}

@media (max-width: 768px) {
    .course .description-container {
        width: calc(90% - 20px); /* Adjust the width for smaller screens */
    }
}
