<!-- Standard favicon -->
<link rel="icon" href="resources/favicon.ico" type="image/x-icon">
<!-- PNG favicons -->
<link rel="icon" type="image/png" sizes="32x32" href="resources/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="resources/favicon-16x16.png">
<!-- Apple Touch Icon -->
<link rel="apple-touch-icon" sizes="180x180" href="resources/apple-touch-icon.png">
<!-- Android Chrome Icons -->
<link rel="icon" type="image/png" sizes="192x192" href="resources/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="512x512" href="resources/android-chrome-512x512.png">
